<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>Create New User</h1>
        <a href="/users">Home</a>
    </div>
    <form action="/create_user" method="post">
        <div>
            <label>First Name</label>
            <input type="text" name="f_name">
        </div>
        <div>
            <label>Last Name</label>
            <input type="text" name="l_name">
        </div>
        <div>
            <label>Email</label>
            <input type="text" name="email">
        </div>
        <button>Create!</button>
    </form>
    
</body>
</html>