<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>All Restaurants</h1>
       {% for rest in all_rest %}
            <p><a href="/restaurant/{{ rest.id }}">{{ rest.name }}</a></p>
        {% endfor %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="text-danger">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
       <form action="/restaurants/create" method="post">
           <h3>Create a new Restaurant</h3>
           <div>
               <label>Name</label>
               <input type="text" name="name">
           </div>
           <button>Submit</button>
       </form>
    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
</body>
</html>