<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css">
    <title>Document</title>
</head>
<body>
    <!-- Display all customers as links to their specific pages -->
    <div class="container">
        <div class="header">
            <h1>All Customers</h1>
            <a href="/customers/new">Add a New Customer</a>
        </div>
        {% for customer in all_customers %}
            <div>
                <h3>{{ customer.f_name }} {{ customer.l_name }}</h3>
            </div>
        {% endfor %}
    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
</body>
</html>