<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="dash-head">
            <h1>Hello, {{user.name}}!</h1>
            <a href="/logout">Log out</a>
        </div>
        <div class="dash-row">
            <form action="/tweets/create" method="post">
                <textarea name="text" cols="30" rows="10"></textarea>
                <button>Tweet!</button>
            </form>
            <div class="user-tweets">
                <h3>{{ user.name }}'s Tweets</h3>
                <!-- for loop through user's tweets -->
                {% for tweet in user.tweets %}
                    <p>- {{ tweet.text }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
</body>
</html>