<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'>
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Edit {{ burger.name }}</h1>
    <form action="/burgers/update" method="post">
        <input type="hidden" name="id" value="{{ burger.id }}">
        <div>
            <label>Name</label>
            <input type="text" name="name" value="{{ burger.name }}">
        </div>
        <div>
            <label>Bun</label>
            <input type="text" name="bun" value="{{ burger.bun }}">
        </div>
        <div>
            <label>Meat</label>
            <input type="text" name="meat" value="{{ burger.meat }}">
        </div>
        <div>
            <label>Cheese</label>
            <input type="text" name="cheese" value="{{ burger.cheese }}">
        </div>
        <div>
            <label>Calories</label>
            <input type="number" name="calories" value="{{ burger.calories }}">
        </div>
        <button>Submit</button>
    </form>

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
</body>
</html>