<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>All Burgers</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Burger Name</th>
                    <th>Bun Type</th>
                    <th>Meat</th>
                    <th>Cheese</th>
                    <th>Calories</th>
                    <th>Restaurant</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for burger in restaurant.burgers %}
                    <tr>
                        <td>{{ burger.name }}</td>
                        <td>{{ burger.bun }}</td>
                        <td>{{ burger.meat }}</td>
                        <td>{{ burger.cheese }}</td>
                        <td>{{ burger.calories }}</td>
                        <td> {{ restaurant.name }}</td>
                        <td><a href="/burgers/{{ burger.id }}">View</a> | <a href="/burgers/edit/{{ burger.id }}">Edit</a> | <a href="/burgers/delete/{{ burger.id }}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/burgers/new">Create a Burger!</a>
        <a href="/restaurants/new">Create a Restaurant</a>
    </div>

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
</body>
</html>